.modal-content {
    background-color: rgb(44,44,44) !important; 
    color:#127880 !important; 
    z-index: 10000; 
}

.modal-title {
    width: inherit; 
}

#close-search-btn {
    background-color: #127880 !important; 
    margin-left: auto; 
    height: 40px; 
  }

  .side-result-header {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}


@media only screen and (max-width: 425px) {

    .side-result-title {
        display: inline; 
    }

    #close-search-btn {
        margin-left: auto; 
        padding: 0px 12px; 
      }
  }