.login-page {
  height: inherit;
  width: inherit;
  background: url('../../images/register-login-br.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-main {
  align-items: center; 
  display: flex; 
  height: inherit; 
}
  
.login-card {
  max-width: 500px; 
  background: rgba(255, 255, 255, 0.1);  
}
  