.table {
    /* background-color: rgba(255, 255, 255, 0.1) !important;   */
    background-color: rgb(221, 221, 221) !important;  
}

table td {
    font-size: 1rem !important; 
}

table th {
    font-size: 1.1rem !important; 
}
