.home-div {
    background-color: black; 
    min-height: inherit; 
    margin-top: 100px; 
}


.home-article-btn {
    position: fixed !important;
    width: 40px; 
    height: 40px; 
    right: 90px;
    top: 5px;
    padding: 1px; 
    cursor: pointer;
    z-index: 10000; 
    background: url('../../images/article-btn.png'); 
    background-size: cover; 
    background-position: center; 
    border-radius: 90% !important;
}

.modal-content {
    margin-top: 60px; 
}

#add-stock-drop {
    background-color:   #127880 !important; 
    font-size: 12px; 
}

.investments-col {
    border-right: 1px solid rgb(44, 44, 44); 
}

.drop-down-btn {
    transition: all 0.5s;
}

.drop-down-btn:hover {
    background-color:   #127880 !important; 
    cursor: pointer; 
    color: white; 
}

.chartjs-render-monitor {
   margin: auto;
   padding: 10px 5px;  

}

@media only screen and (max-width: 768px) {
    .home-article-btn {
        width: 30px; 
        height: 30px; 
        right: 80px;
        top: 1px;
    }
    .modal-content {
        margin-top: 50px; 
    }
    .investments-col {
        border-bottom: 1px solid rgb(44, 44, 44); 
        border-right: 0px; 
    }
}


  @media only screen and (max-width: 500px) {
    .home-div {
        margin-top: 50px; 
    }    
}