.accordion {
    border-radius: 0px !important; 
}

#delete-stock-btn {
    background-color: red !important; 
    color: white !important; 
    height: 40px; 
}

.up-arrow {
    color: green; 
}

.down-arrow {
    color: red; 
}
.accordion .accordion-item .title {
    background-color: rgb(44, 44, 44) !important; 
    border: 0px; 
    border-radius: 0px; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:  #127880 !important; 
}